/* guestbar.css */

.guestbar {
    background-color: peachpuff;
  }
  
  .guestbar-user {
    color: black; /* Change user text color */
  }
  
  .guestbar-button {
    background-color: peachpuff;
    border: 2px solid black;
    color: black;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }
  
  .guestbar-button:hover {
    color: peachpuff;
    background-color: transparent;
    border: 2px solid black;
    color: black;
  }
  